@(addAssignmentForm: Form[AssignmentDetails])(implicit messages:Messages)
@import helper._

@main("profile"){
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="@routes.CommonPagesController.home()">Profile</a></li>
            <li><a href="@routes.AdminPagesController.displayUsers()">Users</a></li>
            <li><a href="@routes.CommonPagesController.displayAssignments()">Assignments</a></li>
            <li><a href="@routes.AdminPagesController.addAssignment()">Add Assignments</a></li>
        </ul>
    </div>
</nav>
@helper.form(action = routes.AdminPagesController.addAssignmentPost()){
@helper.inputText(addAssignmentForm("title"),'_label->"Title",'_showConstraints->false)
@textarea(field = addAssignmentForm("description"),args = 'rows -> 7, 'cols -> 50 ,'_showConstraints->false,'_label->"Description")
<button class="btn btn-default"  name="submit" value = "submit">Add assignment
</button>
}
}
