@(assignments:List[Assignment])(implicit messages:Messages,session: play.api.mvc.Session)
@import helper._

@main("assignments"){

<ul>
    @if(session("isadmin")=="true"){
    <li><a href="@routes.CommonPagesController.home()">Profile</a></li>
    <li><a href="@routes.AdminPagesController.displayUsers()">Users</a></li>
    <li><a href="@routes.CommonPagesController.displayAssignments()">Assignments</a></li>
    <li><a href="@routes.AdminPagesController.addAssignment()">Add Assignments</a></li>
    }else{
    <li><a href="@routes.CommonPagesController.home()">Profile</a></li>
    <li><a href="@routes.CommonPagesController.displayAssignments()">assignments</a></li>
    }
</ul>
<table class="table table-bordered">
    <tr>
        <th>Assignment name</th>
        <th>Assignment description</th>
    </tr>
    <tbody>
    @for(assignment<- assignments){
    @helper.form(action = routes.CommonPagesController.deleteAssignment(assignment.id)){
    <tr>
        <td>@assignment.title</td>
        <td>@assignment.description</td>
        @if(session.get("isadmin").getOrElse("false") == "true"){
        <td>
            <form>
            <button name="assignmentname" value = "@assignment.title" >DELETE</button>
            </form></td>
        }
        }
    </tr>
    }
    </tbody>
</table>
}
