@(assignments:List[Assignment])(implicit messages:Messages,session: play.api.mvc.Session)
@import helper._

@main("assignments"){

@if(session("isadmin")=="true"){
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="@routes.CommonPagesController.home()">Profile</a></li>
            <li><a href="@routes.AdminPagesController.displayUsers()">Users</a></li>
            <li><a href="@routes.CommonPagesController.displayAssignments()">Assignments</a></li>
            <li><a href="@routes.AdminPagesController.addAssignment()">Add Assignments</a></li>
        </ul>
    </div>
</nav>
}else{
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li><a href="@routes.CommonPagesController.home()">Profile</a></li>
            <li><a href="@routes.CommonPagesController.displayAssignments()">Assignments</a></li>
        </ul>
    </div>
</nav>
}

<table class="table table-bordered">
    <tr>
        <th>Assignment name</th>
        <th>Assignment description</th>
        @if(session.get("isadmin").getOrElse("false") == "true"){

                <th>Delete Assignments</th>
        }
    </tr>
    <tbody>
    @for(assignment<- assignments){
    @helper.form(action = routes.CommonPagesController.deleteAssignment(assignment.id)){
    <tr>
        <td>@assignment.title</td>
        <td>@assignment.description</td>
        @if(session.get("isadmin").getOrElse("false") == "true"){
        <td>
            <form>
            <button class="btn-danger" name="assignmentname" value = "@assignment.title" >DELETE</button>
            </form></td>
        }
        }
    </tr>
    }
    </tbody>
</table>
}
