@(userForm: Form[LoginDetails])(implicit messages:Messages, flash:Flash)
@import helper._
@main("login") {
<div style="background: red">
    @flash.get("error").getOrElse(flash.get("success").getOrElse(""))
</div>
<div class="form-group ">
@helper.form(action = routes.LoginController.loginPost()){
@helper.inputText(userForm("emailId"),'_showConstraints->false)
@helper.inputPassword(userForm("password"),'_showConstraints->false)
<button class="btn btn-default"  name="submit" value = "submit">login
</button>
}
<br/>
<br/>
<form>
    <button class="btn btn-default" formaction="@routes.SignUpController.signUp()">signup</button>
</form>
<br/>
<br/>
<form>
    <button class="btn btn-default" formaction="@routes.LoginController.updatePassword()">Forgot Password</button>
</form>
}
</div>
