@(userForm: Form[SignUpDetails])(implicit messages:Messages, flash: Flash)
@import helper._

@main("signup"){
<div style="background: red">
@flash.get("error").getOrElse("")
</div>

@if(userForm.hasGlobalErrors) {
<div style="background: red">
    <ul>
    @for(error <- userForm.globalErrors) {
    <li>@Messages(error.messages,error.args)</li>
    }
</ul>
</div>
}
@helper.form(action = routes.SignUpController.signUpPost()){
@helper.inputText(userForm("firstName"),'_showConstraints->false)
@helper.inputText(userForm("middleName"))
@helper.inputText(userForm("lastName"),'_showConstraints->false)
@helper.inputText(userForm("mobileNumber"),'_showConstraints->false)
@helper.inputText(userForm("emailId"),'_showConstraints->false)
@helper.inputPassword(userForm("password"),'_showConstraints->false)
@helper.inputPassword(userForm("verifyPassword"),'_label->"confirm password",'_showConstraints->false)
@helper.inputText(userForm("age"),'_showConstraints->false)
@helper.select(userForm("gender"),options = Seq("male"->"male","female"->"female"),'_showConstraints->false)

<button class="btn btn-default" value="Potato">Sign up
</button>
}
}
