@(userForm: Form[UpdatePasswordDetails])(implicit messages:Messages, flash:Flash)
<div style="background: red">
    @flash.get("error").getOrElse("")
</div>
@import helper._
<div class="form-group">
@helper.form(action = routes.LoginController.updatePasswordPost()){
@helper.inputText(userForm("emailId"),'_showConstraints->false)
@helper.inputPassword(userForm("password"),'_showConstraints->false)
@helper.inputPassword(userForm("verifyPassword"),'_label->"confirm password",'_showConstraints->false)

<button class="btn btn-default" name="submit" value = "submit">Change Password
</button>
}
<form>
    <button class="btn btn-default" formaction="@routes.SignUpController.signUp()">signup</button>
</form>
</div>
