@(userForm: Form[UpdatePasswordDetails])(implicit messages:Messages, flash:Flash)
<div style="background: red">
    @flash.get("error").getOrElse("")
</div>
@import helper._
@helper.form(action = routes.LoginController.updatePasswordPost()){
@helper.inputText(userForm("emailId"),'_showConstraints->false)
@helper.inputPassword(userForm("password"),'_showConstraints->false)
@helper.inputPassword(userForm("verifyPassword"),'_showConstraints->false)
<button name="submit" value = "submit">Change Password
</button>
}
<form>
    <button formaction="@routes.SignUpController.signUp()">signup</button>
</form>